<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><img src="assets/instagram.png"class="logoimg"><a class="navbar-brand" routerLink="/" >Eva-Filters</a></h1>
    <!-- <nav id="navbar" class="navbar navbar-expand-lg">

           <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
              <span id="boot-icon" class="bi bi-list-task" style="font-size: 25px; color: var(--color-primary); opacity: 1; -webkit-text-stroke-width: 1.3px;"></span>
          </button>

    </nav> -->

        <div class="buttons">
          <a *ngIf="!userID"   routerLink="login" class="button is-link">LOGIN</a>
    <!-- <a *ngIf="!userID" routerLink="login" class="login-btn scrollto">Login </a> -->

    <a *ngIf="userID" (click)="LogOut()"  class="button is-link">LOGOUT </a>
    <!-- <a class="button is-link" (click)="AddNewAdmin()"> Add New Admin</a> -->
  </div>
      </div>

</header>
