<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><img src="assets/logo.png"class="logoimg" routerLink="/"></h1>
    <!-- <nav id="navbar" class="navbar navbar-expand-lg">

           <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
              <span id="boot-icon" class="bi bi-list-task" style="font-size: 25px; color: var(--color-primary); opacity: 1; -webkit-text-stroke-width: 1.3px;"></span>
          </button>

    </nav> -->

        <div class="buttons">
          <button type="submit" class="btn btn-primary" routerLink="admin" *ngIf="!userID">
            LOGIN
          </button>
          <button type="submit" class="btn btn-danger" (click)="LogOut()" *ngIf="userID">
            LOGOUT
          </button>
        </div>
      </div>

</header>
