
    <div class="filter" >
        <img  (click)="clickFilter($event)"
             [src]="filterDetails.imageFilterUrl" alt="image">
             <span></span>

    </div>
    <!-- <div class="filter">
        <img (click)="handleClickCardButton($event)"
             src="/assets/filter8.png" alt="xdddd">

    </div>
    <div class="filter">
        <img (click)="handleClickCardButton($event)"
             src="/assets/filter8.png" alt="xdddd">

    </div>
    <div class="filter">
        <img (click)="handleClickCardButton($event)"
             src="/assets/filter8.png" alt="xdddd">

    </div> -->


    <!-- (click)="getimg($event)" -->