<div class="wrapper">
  <div class="block-main">
    <div class="cam">

        <h2>Image will be captured when you Smile </h2>


      <app-video-player [stream]="currentStream"></app-video-player>
      <div [hidden]="currentStream" id="screenshot"></div>
    </div>
    <div class="zone-body">
      <div class="block">
        <button class="btn" (click)="triggerstream()" *ngIf="!currentStream">
          Take another image
        </button>
        <div *ngIf="countdown > 0 && currentStream">
          <h2>Image will be captured in {{ countdown }} seconds</h2>
        </div>
      </div>
    </div>
  </div>
</div>
